<nz-modal
  [nzVisible]="isVisible"
  [nzTitle]="modalTitle"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="modalFooter"
  [nzMaskClosable]="false"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="projectForm" nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired>Project Title</nz-form-label>
        <nz-form-control nzErrorTip="Please enter a project title">
          <input
            nz-input
            formControlName="title"
            placeholder="Enter project title"
            type="text"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Description</nz-form-label>
        <nz-form-control nzErrorTip="Please enter a description">
          <textarea
            nz-input
            formControlName="description"
            placeholder="Enter project description"
            [rows]="4"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>{{ mode === 'add' ? 'Initial Status' : 'Status' }}</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="status" nzPlaceHolder="Select status">
            @for (column of columns(); track column.id) {
              <nz-option [nzValue]="column.status" [nzLabel]="column.title"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>

<ng-template #modalFooter>
  <div class="modal-footer-row">
    @if (mode === 'edit') {
      <button nz-button nzType="default" class="modal-btn-danger" (click)="handleDelete()">
        Delete Project
      </button>
    }
    <div class="modal-footer-actions">
      <button nz-button nzType="default" class="modal-btn-cancel" (click)="handleCancel()">
        Cancel
      </button>
      <button nz-button nzType="default" class="modal-btn-ok" (click)="handleOk()">
        {{ okButtonText }}
      </button>
    </div>
  </div>
</ng-template>
